* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main-wrapper {
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   height: 4000px;
}

/**********************************HEADER*********************************/

header {
   width: 100%;
   /*Say thanks 🙌
   Give a shoutout to Lukas Blazek on social or copy the text below to attribute.
   Photo by Lukas Blazek on Unsplash*/
   background-image: url(img/header-background.jpg);
   background-position: center;

   background-repeat: no-repeat;
   background-size: cover;
}

.header-container {
   width: 100%;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.header-logo-outer-container {
   width: 100%;
   position: fixed;
   background-color: rgba(255, 255, 255, 0.767);
   padding: 2px 0;
   box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.31);
}

.header-logo-container {
   width: 70px;
   margin: 0 auto;
   padding: 0 5px;
   /* border: 2px solid rgba(32, 31, 31, 0.11);*/
   border: 2px solid rgba(152, 250, 152, 0.377);
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.726);
}

.header-logo {
   width: 38px;
   margin: 10px;
   background-color: #fff;
}

HEAD .header-h1 {
   padding: 300px 5px 20px 5px;
   font-size: 70px;
   font-weight: 600;
   color: rgba(17, 17, 17, 0.644);
   letter-spacing: 15px;
   word-spacing: 5px;
   font-family: 'Playfair Display', serif;
}

.header-h3 {
   font-size: 35px;
   font-weight: 600;
   color: rgba(17, 17, 17, 0.705);
   letter-spacing: 2px;
   font-family: 'Great Vibes', cursive;
}

nav {
   width: 100%;
   margin-top: 430px;
   padding-bottom: 40px;
}

ul {
   width: 50%;
   margin: 0 auto;
}

li {
   display: inline-block;
   padding: 10px 20px;
}

.header-a-nav {
   text-decoration: none;
   color: rgba(17, 17, 17, 0.74);
   font-size: 21px;
   letter-spacing: 1px;
   font-weight: 700;
   font-family: 'Playfair Display', serif;
}

.header-a-nav:hover {
   color: rgba(17, 17, 17, 0.466);
   transition: 0.4s;
}

/****************************HEADER-MEDIA-QUERIES****************************/

@media screen and (max-width: 1800px) and (min-width: 850px) {
   nav {
      margin-top: 330px;
      padding-bottom: 40px;
   }

   ul {
      width: 100%;
   }

   li {
      padding: 10px 10px;
   }

   .header-a-nav {
      font-size: 17px;
      letter-spacing: 1px;
   }
}

/****************************HEADER-MEDIA-QUERIES****************************/

@media screen and (max-width: 850px) and (min-width: 560px) {
   nav {
      margin-top: 330px;
      padding-bottom: 40px;
   }

   ul {
      width: 100%;
   }

   li {
      padding: 10px 10px;
   }

   .header-a-nav {
      font-size: 17px;
      letter-spacing: 1px;
   }
}
/***************************END_OF_HEADER************************/

.sec-one {
   width: 100%;
   height: 450px;
   background-color: rgba(152, 250, 152, 0.144);
}

.section-one-p-container {
   width: 80%;
   margin: 0 auto;
   justify-content: center;
}

.section-one-p {
   text-align: center;
   font-size: 35px;
   font-weight: 800;
   letter-spacing: 6px;
   word-spacing: 5px;
   padding: 230px 0 0 0;
   color: rgba(17, 17, 17, 0.507);
   font-family: 'Playfair Display', serif;
}

.section-one-p-two {
   margin: 0 auto;

   padding-top: 10px;
   color: rgba(17, 17, 17, 0.212);
   font-weight: 900;
   text-align: center;
}

/***************************FIRST_CATEGORY_SECTION************************/

.category {
   width: 60%;
   margin: 0 auto;
   height: 100vh;
   display: flex;
   align-items: center;
}

.category__content {
   width: 100%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.content__headline {
   text-align: center;
   margin-bottom: 1.5rem;
}

.content__grid {
   display: grid;
   grid-template: repeat(2, 1fr) / repeat(3, 1fr);
   gap: 1.5rem;
}

.grid__item {
   width: 280px;
   height: 280px;
   border-radius: 3px;
   box-shadow: 2px 2px 5px rgb(158, 158, 158);
   background-image: url(./img/armin/pasta.jpg);
   background-position: center;
   background-size: cover;
   color: #fff;
   overflow: hidden;
}

.item__description {
   height: 100%;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(25, 95, 37, 0.808);
   text-align: center;
   transform: translateY(85%);
   transition: 1s ease-in-out;
}

.item__description:hover {
   transform: translateY(0%);
}

.description__h4 {
   font-size: 1.5rem;
}

.description__p {
   line-height: 1.5;
}

.description__recipe-link a {
   font-size: 0.8rem;
   color: #fff;
   text-decoration: none;
}

.share__p {
   margin-bottom: 1rem;
}
