* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main-wrapper {
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   height: 4000px;
}

/**********************************HEADER*********************************/

header {
   width: 100%;
   /*Say thanks 🙌
   Give a shoutout to Lukas Blazek on social or copy the text below to attribute.
   Photo by Lukas Blazek on Unsplash*/
   background-image: url(img/header-background.jpg);
   background-position: center;

   background-repeat: no-repeat;
   background-size: cover;
}

.header-container {
   width: 100%;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.header-logo-outer-container {
   width: 100%;
   position: fixed;
   background-color: rgba(255, 255, 255, 0.767);
   padding: 2px 0;
   box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.31);
   z-index: 10;
}

.header-logo-container {
   width: 70px;
   margin: 0 auto;
   padding: 0 5px;
   /* border: 2px solid rgba(32, 31, 31, 0.11);*/
   border: 2px solid rgba(152, 250, 152, 0.377);
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.726);
}

.header-logo {
   width: 38px;
   margin: 10px;
   background-color: #fff;
}

.header-h1 {
   padding: 300px 5px 20px 5px;
   font-size: 70px;
   font-weight: 600;
   color: rgba(17, 17, 17, 0.644);
   letter-spacing: 15px;
   word-spacing: 5px;
   font-family: 'Playfair Display', serif;
}

.header-h3 {
   font-size: 35px;
   font-weight: 600;
   color: rgba(17, 17, 17, 0.705);
   letter-spacing: 2px;
   font-family: 'Great Vibes', cursive;
}

nav {
   width: 100%;
   margin-top: 430px;
   padding-bottom: 40px;
}

ul {
   width: 50%;
   margin: 0 auto;
}

li {
   display: inline-block;
   padding: 10px 20px;
}

.header-a-nav {
   text-decoration: none;
   color: rgba(17, 17, 17, 0.74);
   font-size: 21px;
   letter-spacing: 1px;
   font-weight: 700;
   font-family: 'Playfair Display', serif;
}

.header-a-nav:hover {
   color: rgba(17, 17, 17, 0.466);
   transition: 0.4s;
}

/****************************HEADER-MEDIA-QUERIES****************************/

@media screen and (max-width: 1800px) and (min-width: 850px) {
   nav {
      margin-top: 330px;
      padding-bottom: 40px;
   }

   ul {
      width: 100%;
   }

   li {
      padding: 10px 10px;
   }

   .header-a-nav {
      font-size: 17px;
      letter-spacing: 1px;
   }
}

/****************************HEADER-MEDIA-QUERIES****************************/

@media screen and (max-width: 850px) and (min-width: 560px) {
   nav {
      margin-top: 330px;
      padding-bottom: 40px;
   }

   ul {
      width: 100%;
   }

   li {
      padding: 10px 10px;
   }

   .header-a-nav {
      font-size: 17px;
      letter-spacing: 1px;
   }
}
/***************************END_OF_HEADER************************/

.sec-one {
   width: 100%;
   height: 450px;
   background-color: rgba(152, 250, 152, 0.144);
}

.section-one-p-container {
   width: 80%;
   margin: 0 auto;
   justify-content: center;
}

.section-one-p {
   text-align: center;
   font-size: 35px;
   font-weight: 800;
   letter-spacing: 6px;
   word-spacing: 5px;
   padding: 230px 0 0 0;
   color: rgba(17, 17, 17, 0.507);
   font-family: 'Playfair Display', serif;
}

.section-one-p-two {
   margin: 0 auto;

   padding-top: 10px;
   color: rgba(17, 17, 17, 0.212);
   font-weight: 900;
   text-align: center;
}

/***************************FIRST_CATEGORY_SECTION************************/

.category {
   width: 60%;
   margin: 0 auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.category__content {
   width: 100%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.content__headline {
   text-align: center;
   margin-bottom: 1.5rem;
   font-family: 'Playfair Display', cursive;
}

.content__grid {
   display: grid;
   grid-template: repeat(2, 1fr) / repeat(3, 1fr);
   gap: 1.5rem;
}

.grid__item {
   width: 280px;
   height: 280px;
   border-radius: 3px;
   box-shadow: 2px 2px 5px rgb(158, 158, 158);
   background-position: center;
   background-size: cover;
   color: #fff;
   overflow: hidden;
   position: relative;
}

.grid__item--picture1 {
   background-image: url(./img/armin/pasta.jpg);
}

.grid__item--picture2 {
   background-image: url(./img/armin/pasta2.jpg);
}

.grid__item--picture3 {
   background-image: url(./img/armin/pasta3.jpg);
}

.grid__item--picture4 {
   background-image: url(./img/armin/pasta4.jpg);
}

.grid__item--picture5 {
   background-image: url(./img/armin/pasta5.jpg);
}

.grid__item--picture6 {
   background-image: url(./img/armin/pasta6.jpg);
}

.share-modal {
   display: none;
   transition: all 0.3s ease-in-out;
}

.share-modal__close {
   display: inline-block;
   align-self: end;
   margin-right: 10px;
   padding: 3px;
   border: 1px solid #fff;
   border-radius: 3px;
   cursor: pointer;
   font-size: 0.7rem;
}

.share-modal__h4 {
   font-family: 'Great Vibes', cursive;
   font-size: 2rem;
}

.share-modal--visible {
   display: block;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 280px;
   height: 280px;
   background-color: rgb(136, 182, 136);
   z-index: 5;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.share-modal--dynamic {
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.share-modal--dynamic img {
   width: 50px;
   cursor: pointer;
}

.item__description {
   height: 100%;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(68, 68, 68, 0.808);
   text-align: center;
   transform: translateY(85%);
   transition: 1s ease-in-out;
}

.item__description:hover {
   transform: translateY(0%);
}

.description__magni {
   height: 35px;
   transition: all 0.4s ease-in-out;
}

.description__magni--animated {
   transform: translateY(-10px) rotate(360deg) scale(1.3, 1.3);
}

.description__h4 {
   font-size: 1.5rem;
   color: rgb(94, 179, 94);
}

.description__p {
   line-height: 1.5;
}

.description__link-container {
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.2s ease-in-out;
}

.description__link-container:hover {
   transform: translateX(0.5rem);
}

.link-container__arrow {
   height: 0.8rem;
   width: 0.8rem;
}

.link-container__link {
   font-size: 0.8rem;
   color: #fff;
   text-decoration: none;
   color: rgb(94, 179, 94);
}

.share__p {
   margin-bottom: 1rem;
}

.nav2 {
   margin-top: 0;
   padding-bottom: 0;
}

.ul2 {
   display: flex;
   justify-content: center;
}

/**********************SECTION-QUOTE_ONE*********************/

.sec-quote {
   width: 100%;
   height: 450px;
   background-color: rgba(152, 250, 152, 0.144);
}

.quote-container {
   width: 1000px;
   margin: 0 auto;
}

.links__link {
   text-decoration: none;
}

.quote-inner-container {
   display: flex;
   width: 100%;
   padding-top: 180px;
   text-align: center;
}

.quote-sec-1-p {
   padding-top: 50px;
   padding-left: 20px;
   font-size: 23px;
   font-weight: 700;
   color: rgba(17, 17, 17, 0.507);
   font-family: 'Playfair Display', serif;
}

.sec-quote-img {
   border-radius: 5px;
   transform: rotate(-25deg);
   box-shadow: -8px 8px 15px -6px rgba(17, 17, 17, 0.89);
   animation: img 2s linear infinite alternate;
}

@keyframes img {
   100% {
      transform: rotate(-15deg) scale(1.1);
   }
}

/**********************SECTION-QUOTE_ONE*********************/

.sec-quote {
   width: 100%;
   height: 450px;
   background-color: rgba(152, 250, 152, 0.144);
}

.quote-container {
   width: 1000px;
   margin: 0 auto;
}
.links__link {
   text-decoration: none;
}

.quote-inner-container {
   display: flex;
   width: 100%;
   padding-top: 180px;
   text-align: center;
}

.quote-sec-1-p {
   padding-top: 50px;
   padding-left: 20px;
   font-size: 23px;
   font-weight: 700;
   color: rgba(17, 17, 17, 0.507);
   font-family: 'Playfair Display', serif;
}

.sec-quote-img {
   border-radius: 5px;
   transform: rotate(-25deg);
   box-shadow: -8px 8px 15px -6px rgba(17, 17, 17, 0.89);
   animation: img 2s linear infinite alternate;
}

@keyframes img {
   100% {
      transform: rotate(-15deg) scale(1.1);
   }
}

.links__link {
   text-decoration: none;
}

.links__icon {
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}

.links__icon:hover {
   transform: scale(1.1, 1.1);
}

/**********************RECIPE-SECTION-START*********************/

.recipe-container {
   display: flex;
   justify-content: center;
   height: 100vh;
}

.recipe-col1 {
   width: 25%;
   height: 100vh;
   margin: 0;
}

.recipe-col3 {
   width: 25%;
   height: 100vh;
   margin: 0;
}

.recipe-col2 {
   position: absolute;
   display: flex;
   background-color: #f5f5f5;
   opacity: 93%;
   width: 50%;
   height: 100vh;
}
/**********************RIPPED PAPER START*********************/
.recipe-col2 .grey-container {
   height: auto;
   overflow: hidden;
   padding: 20px;
   background: #fff;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}
.recipe-col2 .grey-container:before,
.recipe-col2 .grey-container:after {
   content: '';
   height: 2px;
   position: absolute;
   left: 0;
   right: 0;
   -webkit-clip-path: polygon(
      0% 0%,
      5% 100%,
      10% 0%,
      15% 100%,
      20% 0%,
      25% 100%,
      30% 0%,
      35% 100%,
      40% 0%,
      45% 100%,
      50% 0%,
      55% 100%,
      60% 0%,
      65% 100%,
      70% 0%,
      75% 100%,
      80% 0%,
      85% 100%,
      90% 0%,
      95% 100%,
      100% 0%
   );
}
.recipe-col2 .grey-container:before {
   background-color: #eee;
   top: 0;
}
.recipe-col2 .grey-container:after {
   background-color: #fff;
   bottom: -2px;
}
/**********************RIPPED PAPER END*********************/
.grey-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   width: 100%;
}

.recipe-row1-left {
   display: flex;
   flex-direction: column;
   width: 50%;
   height: 60%;
   align-items: left;
   padding-left: 30px;
}

.recipe-row1-right {
   display: flex;
   width: 50%;
   height: 60%;
   padding-top: 20px;
   padding-left: 40px;
   justify-content: center;
}

.recipe-row2 {
   display: flex;
   flex-direction: column;
   height: 40%;
   width: 100%;
   align-items: left;
   padding-left: 30px;
   padding-top: 10px;
}

.recipe-img {
   border: 1px solid white;
   border-radius: 4px;
   padding: 5px;
   width: 250px;
   height: 200px;
   display: flex;
   flex-shrink: inherit;
}

.recipe-title {
   font-family: courier, monospace;
   font-weight: normal;
   padding-top: 10px;
   padding-bottom: 10px;
   float: left;
}

.recipe-list {
   color: #555;
   font-size: 12px;
   padding: 0 !important;
   font-family: courier, monospace;
   display: flex;
   flex-direction: column;
}

.recipe-list li {
   list-style: none;
   border-bottom: 1px dotted #ccc;
   text-indent: 25px;
   padding: 10px;
   text-transform: capitalize;
}

.list li:hover {
   background-color: #f0f0f0;
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -ms-transition: all 0.2s;
   -o-transition: all 0.2s;
}

.lines {
   border-left: 1px solid #ffaa9f;
   border-right: 1px solid #ffaa9f;
   width: 2px;
   float: left;
   height: auto;
   margin-left: 10px;
}

.background-img {
   position: relative;
   width: 100%;
   height: 100%;
}
/**********************RECIPE-SECTION-END*********************/

.quote-sec-1-p {
   padding-top: 50px;
   padding-left: 20px;
   font-size: 23px;
   font-weight: 700;
   color: rgba(17, 17, 17, 0.507);
   font-family: 'Playfair Display', serif;
}

.sec-quote-img {
   border-radius: 5px;
   transform: rotate(-25deg);
   box-shadow: -8px 8px 15px -6px rgba(17, 17, 17, 0.89);
   animation: img 2s linear infinite alternate;
}

@keyframes img {
   100% {
      transform: rotate(-15deg) scale(1.1);
   }
}
